 .navbar-nav > li > .dropdown-menu {
    background-color: #f36d26;
}

.navbar-nav > li > .dropdown-menu a:hover { background-color: #faad1f;}

#exampleFormControlInput1 {
    background-color:rgba(0, 0, 0, 0.1);
}

#exampleFormControlTextarea1{
    background-color: rgba(0,0,0,0.1);
}

.form-control::-webkit-input-placeholder { color: #efb8af !important; }

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #3cb97f !important;
    border-color: #ced4da !important;
}

.errorClass{
    background-color: black;
}

.card-deck {
    margin: 0 -15px;
    justify-content: space-between;
}

.card-deck .card {
    margin: 0 0 1rem;
}

.card { background-color: rgba(255, 255, 255, 0.5);}

#pic{
   opacity: 0.5;
}

.card-header, .card-footer { opacity: 1}
.btn-primary:hover{
    background-color: #079755 !important;
    border-color: #ced4da !important;
}
body {
    background-image: url('../pics/msg_background.jpeg');
    background-attachment: fixed;
    padding-top: 90px;
}






