<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Főoldal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>

    <link href="css/message.css?version=1" rel="stylesheet"/>
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light" style=background-color:#CD5C2E>
    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">Üzengető <img
                src="https://img.icons8.com/flat_round/64/000000/phone-message--v2.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link active" th:href="@{/home}">Főoldal<span
                                class="form-control mr-sm-2 sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:href="@{/home}"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Üzenetek
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/messages}">Üzenetek olvasás</a>
                            <a class="dropdown-item" th:href="@{/new_message}">Üzenet írás</a>

                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>

</nav>

<div class="container align-content-center">


    <h1 th:text="${error}"></h1>

    <p th:text="${timestamp}"></p>
    <p th:text="${path}"></p>
    <p th:text="${status}"></p>
    <p th:text="${message}"></p>

</div>

</body>
</html>