body {
    background-image: url('../pics/msg_background.jpeg');
}

.navbar-nav > li > .dropdown-menu {
    background-color: #f36d26;
}

.navbar-nav > li > .dropdown-menu a:hover { background-color: #faad1f;}

#exampleFormControlInput1 {
    background-color:rgba(0, 0, 0, 0.1);
}

#exampleFormControlTextarea1{
    background-color: rgba(0,0,0,0.1);
}

.form-control::-webkit-input-placeholder { color: white; }