<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--TODO ha az uzenetekben vagy es rakattintasz az uznetekre, nem nyilik le a dropwdown!!!!!!!!-->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Üzenetek olvasása</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>

    <link href="css/message.css?version=1" rel="stylesheet"/>
    <link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>-->
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light " style=background-color:#CD5C2E>
    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">Üzengető <img
                src="https://img.icons8.com/flat_round/64/000000/phone-message--v2.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{/home}">Főoldal<span
                                class="form-control mr-sm-2 sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" th:href="@{/home}"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Üzenetek
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/messages}">Üzenetek olvasás</a>
                            <a class="dropdown-item" th:href="@{/new_message}">Üzenet írás</a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-3">

    <div class="form-group">
        <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Keress név alapján..">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="myInput2" onkeyup="myFunction2()" placeholder="Keress feladó alapján..">
    </div>

    <div class="form-group">
        <label for="orderby">Keresés</label>
        <select class="form-control" id="orderby" name="orderby">
            <option th:value="sender">Feladó</option>
            <option th:value="message">Szöveg</option>
            <option th:value="time">Dátum</option>
        </select>
    </div>



    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Üzenetek sorrendje:</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="direction" id="asc" value="asc">
                    <label class="form-check-label" for="asc">Növekvő</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="direction" id="desc" value="desc" checked>
                    <label class="form-check-label" for="desc">Csökkenő</label>
                </div>
            </div>

        </div>

    </fieldset>

    <table class="table table-striped table-dark" id="myTable">
        <thead>
        <tr>
            <td>Üzenet szövege:</td>
            <td>Feladó:</td>
            <td>Üzenet ideje:</td>
            <td>Üzenet ID:</td>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="message: ${messages}">
            <td data-th-text="${message.text}"></td>
            <td data-th-text="${message.sender}"></td>
            <td data-th-text="${{message.dateTime}}"></td>

            <td>
                <a data-th-href="@{/messages/{messageId}(messageId=${message.id})}"><p data-th-text="${message.id}"></p>
                </a>
            </td>

        </tr>
        </tbody>
    </table>

</div>
<!--<script>-->
<!--    function myFunction() {-->
<!--        // Declare variables-->
<!--        var input, filter, table, tr, td, i, txtValue;-->
<!--        input = document.getElementById("myInput");-->
<!--        filter = input.value.toUpperCase();-->
<!--        table = document.getElementById("myTable");-->
<!--        tr = table.getElementsByTagName("tr");-->

<!--        // Loop through all table rows, and hide those who don't match the search query-->
<!--        for (i = 0; i < tr.length; i++) {-->
<!--            td = tr[i].getElementsByTagName("td")[0];-->
<!--            if (td) {-->
<!--                txtValue = td.textContent || td.innerText;-->
<!--                if (txtValue.toUpperCase().indexOf(filter) > -1) {-->
<!--                    tr[i].style.display = "";-->
<!--                } else {-->
<!--                    tr[i].style.display = "none";-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    }-->

<!--    function myFunction2() {-->
<!--        // Declare variables-->
<!--        var input, filter, table, tr, td, i, txtValue;-->
<!--        input = document.getElementById("myInput2");-->
<!--        filter = input.value.toUpperCase();-->
<!--        table = document.getElementById("myTable");-->
<!--        tr = table.getElementsByTagName("tr");-->

<!--        // Loop through all table rows, and hide those who don't match the search query-->
<!--        for (i = 0; i < tr.length; i++) {-->
<!--            td = tr[i].getElementsByTagName("td")[1];-->
<!--            if (td) {-->
<!--                txtValue = td.textContent || td.innerText;-->
<!--                if (txtValue.toUpperCase().indexOf(filter) > -1) {-->
<!--                    tr[i].style.display = "";-->
<!--                } else {-->
<!--                    tr[i].style.display = "none";-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--</script>-->

</body>
</html>