<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Új üzenet írása</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>

    <link href="css/message.css?version=1" rel="stylesheet"/>
    <link href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light " style=background-color:#CD5C2E>
    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">Üzengető <img
                src="https://img.icons8.com/flat_round/64/000000/phone-message--v2.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " th:href="@{/home}">Főoldal<span
                                class="form-control mr-sm-2 sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" th:href="@{/home}"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Üzenetek
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/messages}">Üzenetek olvasás</a>
                            <a class="dropdown-item" th:href="@{/new_message}">Üzenet írás</a>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " th:href="@{/members}"
                           data-sec-authorize="hasRole('ADMIN')">Felhasznalok<span
                                class="form-control mr-sm-2 sr-only">(current)</span></a>
                    </li>
                </ul>
            </form>
        </div>
        <form th:action="@{/login}" method="POST">
            <button type="submit" class="btn btn-primary" sec:authorize="isAuthenticated()">Kijelentkezés</button>
        </form>
    </div>
</nav>


<div class="container">
    <form action="#" th:action="@{/new_message}" th:object="${newMessage}" method="post" class="needs-validation"
          novalidate>
        <!--        <div class="form-group">-->
        <!--            <label for="exampleFormControlInput1">Feladó:</label>-->
        <!--            <input type="text" class="form-control" id="exampleFormControlInput1" data-th-field="*{sender}"-->
        <!--                   placeholder="Add meg az neved!" data-th-classappend="${#fields.hasErrors('sender')} ? is-invalid : ''"/>-->
        <!--            <div class="invalid-feedback">-->
        <!--                1-50 hosszu lehet a neved-->
        <!--            </div>-->
        <!--        </div>-->


        <div class="form-group">
            <label for="exampleFormControlTextarea1">Üzenet:</label>
            <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"
                      type="text" data-th-field="*{text}" placeholder="Gépeld ide az üzeneted!"
                      data-th-classappend="${#fields.hasErrors('text')} ? is-invalid : ''"></textarea>


            <div class="invalid-feedback">
                1-250 karakter hosszu lehet a szoveg
            </div>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Küldés">
        </div>
    </form>

    <form action="#" th:action="@{/new_topic}" th:object="${topic}" method="post">
        <!--        <label for="topics">Topic lista</label>-->
        <!--        <select class="form-control" id="topics">-->
        <!--            <option th:each="topic : ${topicList}"-->
        <!--                    th:value="${topic.name}">-->
        <!--            </option>-->
        <!--        </select>-->

        <div class="form-group">
            <label for="myInput2">Topic:</label>
            <textarea class="form-control" id="myInput2" type="text" th:field="*{name}" placeholder="Add meg a topic nevét"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Létrehozás">

    </form>




</div>

</body>
</html>